{#

This is a theme for a typical Supply style form with placeholders for labels.

E.g:

<div class="form-group">
	<input type="email" name="email" class="form-control text-uppercase" placeholder="Email" data-fv-notempty="true"
		   data-fv-notempty-message="Please enter your email address" data-fv-emailaddress="true"
		   data-fv-emailaddress-message="Not a valid email address" data-fv-field="email">
	<small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED"
		   style="display: none;">Not a valid email address
	</small>
	<small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED"
		   style="display: none;">Please enter your email address
	</small>
</div>

#}


{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block hidden_widget -%}
    {% spaceless %}
        <div class="form-group">
            {%- set type = type|default('hidden') -%}
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{%- endblock hidden_widget -%}

{# Form label #}
{% block form_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form-control-label')|trim}) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': label_attr.class ~ ' form-control-label--required'}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        placeholder="{{- label|trans({}, translation_domain) }}{% if required %} *{% endif -%}"
    {% endif %}

{% endblock form_label %}

{# Form widget: Input #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input
            type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}
            class="form-control text-uppercase" {{ form_label(form) }}>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block submit_row -%}
    {% spaceless %}
        <div class="form-group {{ block('form_group_class') }}">
            {{ form_widget(form, { 'attr' : { 'class' : 'btn btn-primary btn-lg text-uppercase t--white img-full pad-xs-1__body'}}) }}
        </div>
    {% endspaceless %}
{% endblock submit_row %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><p
            class="t-white">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</p>
    </button>
{%- endblock button_widget -%}

{# Form widget: Checkbox #}
{% block checkbox_widget %}
    {% spaceless %}
        <div class="checkbox abc-checkbox">
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-control-choice">
            <label for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} class="t--white text-uppercase">
            {{ label|trans({}, translation_domain)|raw }}{% if required %}<span class="form-group__required-symbol">*</span>{% endif %}
            </label>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}
